.card-header{
    background-color: #0016b2;
    color: #fff;
}

.i{
    color:#fff;
    font-size: 72px;
}

.borderRow{
    border: 1px solid transparent; 
    border-color: #ddd; 
    border-radius: 20px;
}

.paddingRow{
    padding: 15px;
}

.marginRow{
    margin-top: 20px;
}

.dropdown-toggle::after{
    content: none;
  }
  
  li > img{
    margin-left: 50%;
    margin-right: 50%;
  }
  
  .dropdown-menu.show {
    display: block;
    position: absolute;
    top: 0px;
    left: auto !important;
    right: 5px !important;
    will-change: transform;
    transform: translate(0px, 34px);
  }