.card-header{
    background-color: #0016b2;
    color: #fff;
}

.i{
    color:#fff;
    font-size: 72px;
}

.borderRow{
    border: 1px solid transparent; 
    border-color: #ddd; 
    border-radius: 20px;
}

.paddingRow{
    padding: 15px;
}

.marginRow{
    margin-top: 20px;
}