<div class="breadcrumb">
    <h1>Automatizaciones</h1>
    <ul>
        <li><a>Portal de Pagos</a></li>
        <li>Automatizaciones</li>
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="card mb-4" *ngIf="!esCreacion">
    <div class="card-body">
        <div class="row">

            <div class="col-md-4 form-group mb-3">
                <label for="firstName">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="Nombre" [(ngModel)]="paginador.search"
                    placeholder="Nombre">
            </div>

            <div class="col-md-3 form-group mb-3">
                <label for="lastName">Tipo</label>
                <select [(ngModel)]="selectedTipoFiltro" class="form-control" name="tipo" #tipo="ngModel">
                    <option *ngFor="let e of tiposAutomatizacionesFiltro" [ngValue]="e.idTipo">
                        {{ e.nombre }}
                    </option>
                </select>
            </div>

            <div class="col-md-3 form-group mb-3">
                <label for="lastName">Estado</label>
                <select [(ngModel)]="selectedEstadoFiltro" class="form-control" name="tipoD" #tipoD="ngModel">
                    <option *ngFor="let e of estadosFiltro" [ngValue]="e.id">
                        {{ e.nombre }}
                    </option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 form-group mb-4 align-self-end">
                <button id="sss" (click)="getAutomatizaciones()" style="margin-top: 20px;"
                    class="btn btn-primary justify-content-between align-items-center mr-3"> <i
                        class="search-icon i-Magnifi-Glass1 mr-3"></i> <span class="mr-3">Buscar</span>
                </button>
                <button id="sss2" (click)="limpiarFiltros()" class="btn btn-secondary mr-3"
                    style="margin-top: 20px;"><span><i class="i-Paint-Brush"></i>
                        Limpiar</span></button>

                <button type="button" class="btn btn-success mr-3" style="background-color: #263db5;"
                    style="margin-top: 20px;" (click)="openModal(null)">
                    <i class="i-Add mt-3 mr-1"></i> Nueva Automatización</button>
                <!-- <button id="sss1" (click)="enviaAutomatizaciones()" class="btn btn-success mr-3"
                    style="margin-top: 20px;">
                    <i class="i-Cash-register-2 mr-3"></i> <span class="mr-3">Ejecutar Envío</span>
                </button> -->
            </div>
        </div>

        <div class="separator-breadcrumb border-top" style="margin-top: 50px;"></div>

        <div *ngIf="listaAutomatizaciones.length> 0 && loaded" class="row"
            [ngClass]="{'list-horizontal': viewMode === 'list', 'list-grid': viewMode === 'grid'}">
            <!-- SINGLE LIST ITEM -->
            <div *ngFor="let item of listaAutomatizaciones | paginate: config; let i = index" class="list-item"
                [ngClass]="{'col-md-12': viewMode === 'list', 'col-md-3': viewMode === 'grid'}"
                [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}">
                <div class="card o-hidden mb-2 d-flex"
                    [ngClass]="{'flex-row': viewMode === 'list', 'flex-column': viewMode === 'grid'}">
                    <div class="flex-grow-1"
                        [ngClass]="{'pl-2 d-flex': viewMode === 'list', 'd-bock': viewMode === 'grid'}">
                        <div class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center"
                            [ngClass]="{'flex-lg-row': viewMode === 'list'}">
                            <!-- OTHER DATA -->
                            <a class="w-15 w-sm-60" style="flex-basis:400px">
                                <div class="item-title"><strong>Nombre:</strong><span>{{item.nombre}}</span></div>
                            </a>
                            <p class="m-0 text-muted w-15 w-sm-100" style="flex-basis:250px">
                                <strong>Tipo: </strong>
                                <span *ngIf="item.idTipoAutomatizacion == 1">Recordatorio</span>
                                <span *ngIf="item.idTipoAutomatizacion == 2">Estado de Cuenta</span>
                                <span *ngIf="item.idTipoAutomatizacion == 3">Cobranza</span>
                            </p>

                            <p class="m-0 text-muted w-15 w-sm-100" style="flex-basis:250px">
                                <strong>Dia de envío: </strong>
                                <span *ngIf="item.idPerioricidad == null">Todos los días</span>
                                <span *ngIf="item.idPerioricidad == 1">Primer día del mes</span>
                                <span *ngIf="item.idPerioricidad == 2">Mitad de mes</span>
                                <span *ngIf="item.idPerioricidad == 3">Ultimo día del mes</span>
                                <span *ngIf="item.idPerioricidad == 4">{{item.diaEnvio}} de cada mes</span>
                                <span *ngIf="item.idPerioricidad == 5">Cada
                                    <span *ngIf="item.diaEnvio == 1">Lunes</span>
                                    <span *ngIf="item.diaEnvio == 2">Martes</span>
                                    <span *ngIf="item.diaEnvio == 3">Miércoles</span>
                                    <span *ngIf="item.diaEnvio == 4">Jueves</span>
                                    <span *ngIf="item.diaEnvio == 5">Viernes</span>
                                    <span *ngIf="item.diaEnvio == 6">Sábado</span>
                                    <span *ngIf="item.diaEnvio == 7">Domingo</span>
                                </span>
                            </p>

                            <p class="m-0 text-muted w-15 w-sm-100" style="flex-basis:250px">
                                <strong>Hora de envío: </strong><span>{{item.horaEnvio}} hrs.</span>
                            </p>


                            <p class="m-0 text-muted w-15 w-sm-100 d-none d-lg-block item-badges"
                                style="flex-basis:100px">
                                <span *ngIf="item.estado == 1" class="badge badge-success">Activo</span>
                                <span *ngIf="item.estado == 0" class="badge badge-danger">Inactivo</span>
                            </p>

                            <!-- <p class="m-0 text-muted w-15 w-sm-100">    -->

                            <div ngbDropdown container="body">
                                <button ngbDropdownToggle aria-haspopup="true" aria-expanded="false" type="button"
                                    class="btn dropdown-toggle btn-link text-decoration-none dropdown-toggle-no-caret"
                                    id="__BVID__735__BV_toggle_"><svg xmlns="http://www.w3.org/2000/svg" width="16px"
                                        height="16px" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                        class="text-body align-middle mr-25 feather feather-more-vertical">
                                        <circle cx="12" cy="12" r="1"></circle>
                                        <circle cx="12" cy="5" r="1"></circle>
                                        <circle cx="12" cy="19" r="1"></circle>
                                    </svg></button>
                                <div ngbDropdownMenu>
                                    <button (click)="openModal(item)" style="cursor: pointer; " ngbDropdownItem><i
                                            class="i-Edit"
                                            style="font-size: 1.4em;"></i>&nbsp;&nbsp;&nbsp;Editar</button>
                                    <button (click)="delete(item.idAutomatizacion)" style="cursor: pointer;"
                                        ngbDropdownItem><i class="i-Remove"
                                            style="font-size: 1.4em;"></i>&nbsp;&nbsp;&nbsp;Eliminar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- PAGINATION CONTROL -->
            <div class="col-md-12 mt-3" *ngIf="listaAutomatizaciones?.length > 0">
                <pagination-controls (pageChange)="changePage($event)" maxSize="6" responsive="true" previousLabel=""
                    nextLabel="">
                </pagination-controls>
            </div>
        </div>

        <div class="row" *ngIf="listaAutomatizaciones.length == 0 && loaded">
            <div class="col-md-12">
                <ngb-alert class="alert-card text-center" [dismissible]="false">
                    {{noResultsText}}
                </ngb-alert>
            </div>
        </div>
    </div>
</div>



<!-- DATA LIST -->

<div class="card mb-4" *ngIf="esCreacion">
    <div class="card-header">
        {{modalTitle}}
    </div>
    <div class="card-body">
        <div class="d-sm-flex mb-5">
            <span class="m-auto"></span>
            <button class="btn btn-outline-secondary mr-3 mb-sm-0 mb-3" (click)="volver()">Volver</button>
        </div>
        <form>
            <div class="form-group">
                <label for="picker1">Tipo</label>
                <div class="input-group">
                    <ng-select class="customAC" style="border-radius: 40px !important; width: 100%;"
                        [items]="tiposAutomatizaciones" bindLabel="nombre" placeholder="Tipo" #tipo="ngModel"
                        name="tipo" [(ngModel)]="nuevaAutomaetizacion.idTipoAutomatizacion" bindValue="idTipo">
                    </ng-select>
                </div>
            </div>

            <p *ngIf="nuevaAutomaetizacion.idTipoAutomatizacion == 1">La pre cobranza corresponde al envío de los
                documentos que se encuentran
                cercanos a vencer calculado según los días antes del vencimiento y filtros indicados a
                continuación.</p>
            <p *ngIf="nuevaAutomaetizacion.idTipoAutomatizacion == 1">Este envío se realizará todos los días a la hora
                indicada.</p>

            <p *ngIf="nuevaAutomaetizacion.idTipoAutomatizacion == 2">El estado de cuenta corresponde al envío de los
                documentos vencidos y pendientes
                según los filtros indicados a continuación.</p>
            <p *ngIf="nuevaAutomaetizacion.idTipoAutomatizacion == 2">Este envío se realizará según la periodicidad
                indicada.</p>

            <p *ngIf="nuevaAutomaetizacion.idTipoAutomatizacion == 3">La cobranza corresponde al envío de los documentos
                vencidos según los días que lleva
                vencido el documento y filtros indicados a continuación.</p>
            <p *ngIf="nuevaAutomaetizacion.idTipoAutomatizacion == 3">Este envío se realizará según la periodicidad
                indicada.</p>

            <div class="form-group" *ngIf="nuevaAutomaetizacion.idTipoAutomatizacion != null">
                <label for="picker1">Nombre</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Nombre" name="nombre"
                        [(ngModel)]="nuevaAutomaetizacion.nombre" #nombre="ngModel" maxlength="200" required>
                </div>
            </div>

            <div class="borderRow" *ngIf="nuevaAutomaetizacion.idTipoAutomatizacion != null" style="margin-top: 10px;">
                <h4 class="paddingRow">Configuración Envío</h4>
                <div class="row paddingRow">
                    <div class="form-group col-md-4" *ngIf="nuevaAutomaetizacion.idTipoAutomatizacion != null">
                        <label for="picker1" class="text-lbl">Horario de envío</label>
                        <ng-select class="customAC" style="border-radius: 40px !important; max-height: 120px;"
                            (open)="handleFocus()" [items]="horarios" bindLabel="horario" placeholder="Horas"
                            #cc="ngModel" name="cc" [(ngModel)]="nuevaAutomaetizacion.idHorario" bindValue="idHorario">
                        </ng-select>
                    </div>

                    <div class="form-group col-md-4" *ngIf="nuevaAutomaetizacion.idTipoAutomatizacion != null">
                        <label for="picker1" class="text-lbl">Periodicidad</label>
                        <ng-select class="customAC" style="border-radius: 40px !important;" [items]="periocidades"
                            bindLabel="nombre" placeholder="Seleccione periodicidad" #pp="ngModel" name="pp"
                            [(ngModel)]="nuevaAutomaetizacion.idPerioricidad" bindValue="idPeriocidad">
                        </ng-select>
                    </div>

                    <div class="form-group col-md-4" *ngIf="nuevaAutomaetizacion.idPerioricidad == 4">
                        <label for="picker1" class="text-lbl">Dia de envío</label>
                        <div class="input-group">
                            <input type="number" min="1" max="30" class="form-control" placeholder="Dia de envío"
                                (blur)="validaNumeros()" name="diasEnvioC"
                                onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
                                [(ngModel)]="nuevaAutomaetizacion.diaEnvio" #diasEnvioC="ngModel" required>
                        </div>
                    </div>

                    <div class="form-group col-md-4" *ngIf="nuevaAutomaetizacion.idPerioricidad == 5">
                        <label for="picker1" class="text-lbl">Dia de envío</label>
                        <ng-select class="customAC" style="border-radius: 40px !important;" [items]="diasSemana"
                            appendTo="body" bindLabel="nombre" required placeholder="Día de envío"
                            #diasSemanaC="ngModel" name="diasSemanaC" [(ngModel)]="nuevaAutomaetizacion.diaEnvio"
                            bindValue="id">
                        </ng-select>
                    </div>
                </div>

                <div class="row paddingRow">


                    <div class="col-md-5 form-group">
                        <label class="switch switch-primary mr-3">
                            <span>Enviar a todos los cargos</span>
                            <input type="checkbox" name="chkContactofa-stack"
                                [(ngModel)]="nuevaAutomaetizacion.enviaTodosContactos">
                            <span class="slider"></span>
                        </label>
                    </div>

                    <div class="col-md-7 form-group">
                        <label class="switch switch-primary mr-3">
                            <span>Enviar al correo de la ficha si no se encuentran contactos</span>
                            <input type="checkbox" name="chkFichaC" [(ngModel)]="nuevaAutomaetizacion.enviaCorreoFicha">
                            <span class="slider"></span>
                        </label>
                    </div>



                    <div class="form-group col-md-12" *ngIf="!nuevaAutomaetizacion.enviaTodosContactos">
                        <label for="picker1" class="text-lbl">Cargo Contacto</label>
                        <ng-select class="customAC" style="border-radius: 40px !important;" [items]="cargos"
                            bindLabel="carNom" placeholder="Cargo" #carC="ngModel" name="carC"
                            [(ngModel)]="selectedCargos" bindValue="carCod" [multiple]="true">
                        </ng-select>
                    </div>

                </div>
            </div>



            <div class="borderRow" *ngIf="nuevaAutomaetizacion.idTipoAutomatizacion != null" style="margin-top: 10px;">
                <h4 class="paddingRow">Configuración Filtros</h4>
                <div class="row paddingRow">
                    <!-- <div class="form-group col-md-4" *ngIf="nuevaAutomaetizacion.idTipoAutomatizacion != null">
                        <label for="picker1">Año</label>
                        <ng-select class="customAC" style="border-radius: 40px !important;" [items]="anios"
                            appendTo="body" bindLabel="anioMatricula" required placeholder="Año" #aniosm="ngModel"
                            name="aniosm" [(ngModel)]="selectedAnio" bindValue="id">
                        </ng-select>
                    </div> -->


                    <div class="form-group col-md-4"
                        *ngIf="nuevaAutomaetizacion.idTipoAutomatizacion != null && (nuevaAutomaetizacion.idTipoAutomatizacion == 1 || nuevaAutomaetizacion.idTipoAutomatizacion == 3)">
                        <label></label>
                        
                        <div class="input-group" style="margin-top: 8px;">
                            <label>Avisar </label> <input 
                                *ngIf="nuevaAutomaetizacion.idTipoAutomatizacion == 1 || nuevaAutomaetizacion.idTipoAutomatizacion == 3"
                                type="text" class="form-control" placeholder="Cantidad de Días" name="dias" style="margin-left: 5px;"
                                onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
                                [(ngModel)]="nuevaAutomaetizacion.diasVencimiento" #dias="ngModel" required>
                            <label style="margin-left: 5px;" *ngIf="nuevaAutomaetizacion.idTipoAutomatizacion == 1" for="picker1"> Días antes del
                                vencimiento</label>
                            <label style="margin-left: 5px;" *ngIf="nuevaAutomaetizacion.idTipoAutomatizacion == 3" for="picker1"> Días después del
                                vencimiento</label>
                        </div>
                    </div>

                    <div class="form-group col-md-12" *ngIf="nuevaAutomaetizacion.idTipoAutomatizacion != null">
                        <label for="picker1">Tipos de documentos</label>
                        <div class="input-group">
                            <ng-select class="customAC" style="border-radius: 40px !important;  width: 100%;"
                                [items]="tiposDocumento" bindLabel="desDoc" placeholder="Tipos de documentos"
                                #lpo="ngModel" name="lpo" [(ngModel)]="selectedTiposDocumentos" bindValue="codDoc"
                                [multiple]="true"  [closeOnSelect]="false"></ng-select>
                        </div>
                    </div>


                    <!-- <div class="form-group col-md-12" *ngIf="nuevaAutomaetizacion.idTipoAutomatizacion != null">
                        <label for="picker1" class="text-lbl">Lista de precios</label>
                        <ng-select class="customAC" style="border-radius: 40px !important;" [items]="listasPrecio"
                            bindLabel="desLista" placeholder="Lista de precio" #listasPrecios="ngModel"
                            name="listasPrecios" [(ngModel)]="selectedListasPrecio" [multiple]="true"
                            [closeOnSelect]="true" bindValue="codLista">
                        </ng-select>
                    </div> -->

                    <div class="form-group col-md-12" *ngIf="nuevaAutomaetizacion.idTipoAutomatizacion != null">
                        <label for="picker1" class="text-lbl">Categoría cliente</label>
                        <ng-select class="customAC" style="border-radius: 40px !important;" [items]="categoriasCliente"
                            bindLabel="catDes" placeholder="Categoria Cliente" #categoriasClientes="ngModel"
                            name="categoriasClientes" [(ngModel)]="selectedCategoriasCliente" [multiple]="true"  [closeOnSelect]="false"
                             bindValue="catCod">
                        </ng-select>
                    </div>

                    <div class="form-group col-md-12" *ngIf="nuevaAutomaetizacion.idTipoAutomatizacion != null">
                        <label for="picker1" class="text-lbl">Vendedor</label>
                        <ng-select class="customAC" style="border-radius: 40px !important;" [items]="vendedores"
                            bindLabel="venDes" placeholder="Vendedores" #vendedoress="ngModel" name="vendedoress"
                            [(ngModel)]="selectedVendedores" bindValue="venCod" [multiple]="true"  [closeOnSelect]="false"
                           >
                        </ng-select>
                    </div>

                    <div class="form-group col-md-12" *ngIf="nuevaAutomaetizacion.idTipoAutomatizacion != null">
                        <label for="picker1" class="text-lbl">Condición de venta</label>
                        <ng-select class="customAC" style="border-radius: 40px !important;" [items]="condicionesVenta"
                            bindLabel="cveDes" placeholder="Condición de venta" #condicionesVentas="ngModel"
                            name="condicionesVentas" [(ngModel)]="selectedCondicionesVenta" [multiple]="true"  [closeOnSelect]="false"
                             bindValue="cveCod">
                        </ng-select>
                    </div>

                    <div class="form-group col-md-12"
                        *ngIf="nuevaAutomaetizacion.idTipoAutomatizacion != null && nuevaAutomaetizacion.idTipoAutomatizacion == 3">
                        <label for="picker1" class="text-lbl">Mostrar en pago</label>
                        <ng-select class="customAC" style="border-radius: 40px !important;" [items]="mostrarEnPago"
                            bindLabel="nombre" placeholder="Seleccione periodicidad" #mostrarPago="ngModel"
                            name="mostrarPago" [(ngModel)]="nuevaAutomaetizacion.muestraSoloVencidos" bindValue="id">
                        </ng-select>
                    </div>
                </div>
            </div>




            <div class="row paddingRow" *ngIf="nuevaAutomaetizacion.idTipoAutomatizacion != null">

                <div class="col-md-3 form-group"
                    *ngIf="nuevaAutomaetizacion.idTipoAutomatizacion != null && nuevaAutomaetizacion.idTipoAutomatizacion == 3">
                    <label class="switch switch-primary mr-3">
                        <span>Agrupa Cobranza</span>
                        <input #inputEl5C [(ngModel)]="nuevaAutomaetizacion.agrupaCobranza" type="checkbox"
                            id="exampleCheck6C" name="exampleCheck6C" />
                        <span class="slider"></span>
                    </label>
                </div>

                <!-- <div class="col-md-3 form-group" *ngIf="nuevaAutomaetizacion.idTipoAutomatizacion != null">
                    <label class="switch switch-primary mr-3">
                        <span>Excluye Festivos</span>
                        <input #inputEl2R [(ngModel)]="nuevaAutomaetizacion.excluyeFestivos" type="checkbox"
                            id="exampleCheck4C" name="exampleCheck4C" />
                        <span class="slider"></span>
                    </label>
                </div> -->

                <div class="col-md-3 form-group" *ngIf="nuevaAutomaetizacion.idTipoAutomatizacion != null">
                    <label class="switch switch-primary mr-3">
                        <span>Activar el listado de clientes excluidos</span>
                        <input #inputEl1R [(ngModel)]="nuevaAutomaetizacion.excluyeClientes" type="checkbox"
                            id="exampleCheck5C" name="exampleCheck5C" />
                        <span class="slider"></span>
                    </label>
                </div>

                <div class="col-md-3 form-group" *ngIf="nuevaAutomaetizacion.idTipoAutomatizacion != null">
                    <label class="switch switch-primary mr-3">
                        <span *ngIf="nuevaAutomaetizacion.estado == 1">Activa</span>
                        <span *ngIf="nuevaAutomaetizacion.estado ==0">Inactiva</span>
                        <input #inputEl3R [(ngModel)]="nuevaAutomaetizacion.estado" type="checkbox" id="exampleCheck3C"
                            name="exampleCheck3C" />
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
        </form>
        <div class="row justify-content-center">
            <button type="button" class="btn btn-outline-primary" (click)="save()">Guardar</button>
        </div>

    </div>
</div>

<ng-template #modalBasic let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{modalTitle}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="save(modalConfirmEdit)">Guardar</button>
    </div>
</ng-template>