<div class="breadcrumb">
    <h1>Configuración</h1>
    <ul>
        <li>Portal</li>
        <li>Configuración</li>
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="">
    <ngb-tabset class="p-0">
        <ngb-tab *ngFor="let pasarela of pasarelas"  title="{{pasarela.nombre}}"  >
            <ng-template ngbTabContent>
                <div class="row">
                    <div class="col-md-12">
                      <div class="card mb-4">
                        <div class="card-body">
                          <form #myFormConfig="ngForm">
                            <div class="row">
                                <!-- <div class="col-md-4 form-group mb-3">
                                    <label for="estado">Estado</label>
                                    <select [(ngModel)]="pasarela.estado"
                                            class="form-control"
                                            name="estado" #estado="ngModel" required>
                                        <option [ngValue]="0">
                                            Desactivado
                                        </option>
                                        <option [ngValue]="1">
                                            Activo
                                        </option>
                                    </select>
                                </div> -->

                                <div *ngIf="(pasarela.idPasarela == 1 || pasarela.idPasarela == 3) && pasarela.estado == 1" class="col-md-4 form-group mb-3">
                                    <label for="ambiente">Ambiente</label>
                                    <select [(ngModel)]="pasarela.ambiente"
                                            class="form-control"
                                            name="ambiente" #ambiente="ngModel" required>
                                        <option *ngIf="pasarela.idPasarela == 1" [ngValue]="'INTEGRACION'">
                                            Integración
                                        </option>
                                        <option *ngIf="pasarela.idPasarela == 1" [ngValue]="'PRODUCCION'">
                                            Producción
                                        </option>

                                        <option *ngIf="pasarela.idPasarela == 3" [ngValue]="'https://sandbox.flow.cl/api'">
                                            Integración
                                        </option>
                                        <option *ngIf="pasarela.idPasarela == 3" [ngValue]="'https://www.flow.cl/api'">
                                            Producción
                                        </option>
                                    </select>
                                </div>


                                <div *ngIf="pasarela.idPasarela == 1 && pasarela.estado == 1" class="col-md-12 form-group" style="padding-bottom: 20px;">
                                    <label for="firstName2">Código de comercio<span class="camporequerido">*</span></label>
                                    <input type="text"
                                        [ngClass]="msg.errors && (msg.dirty || msg.touched) ? 'form-control is-invalid' : 'form-control'"
                                        placeholder="Código de comercio" #msg="ngModel" required
                                        name="msg" [(ngModel)]="pasarela.codigoComercioTBK" />  
                                    <p *ngIf="msg.errors && (msg.dirty || msg.touched)" class="text-danger"
                                      style="margin-top: 2px; font-size: 12px">
                                      Código de comercio es requerido
                                    </p>
                                </div>

                                <div *ngIf="pasarela.estado == 1 && pasarela.idPasarela != 5" class="col-md-12 form-group" style="padding-bottom: 20px;">
                                    <label for="firstName2">Api Key<span class="camporequerido">*</span></label>
                                    <input type="text"
                                        [ngClass]="apiKey.errors && (apiKey.dirty || apiKey.touched) ? 'form-control is-invalid' : 'form-control'"
                                        placeholder="Api Key" #apiKey="ngModel" required
                                        name="apiKey" [(ngModel)]="pasarela.apiKeyPasarela" />  
                                    <p *ngIf="apiKey.errors && (apiKey.dirty || apiKey.touched)" class="text-danger"
                                      style="margin-top: 2px; font-size: 12px">
                                      Api Key es requerido
                                    </p>
                                </div>

                                <div *ngIf="pasarela.estado == 1 && pasarela.idPasarela == 3" class="col-md-12 form-group" style="padding-bottom: 20px;">
                                    <label for="firstName2">Secret Key<span class="camporequerido">*</span></label>
                                    <input type="text"
                                        [ngClass]="secretKey.errors && (secretKey.dirty || secretKey.touched) ? 'form-control is-invalid' : 'form-control'"
                                        placeholder="Secret Key" #secretKey="ngModel" required
                                        name="secretKey" [(ngModel)]="pasarela.secretKeyPasarela" />  
                                    <p *ngIf="secretKey.errors && (secretKey.dirty || secretKey.touched)" class="text-danger"
                                      style="margin-top: 2px; font-size: 12px">
                                      Secret Key es requerido
                                    </p>
                                </div>

                                <div *ngIf="pasarela.estado == 1 && (pasarela.idPasarela == 3 || pasarela.idPasarela == 2)" class="col-md-12 form-group" style="padding-bottom: 20px;">
                                    <label for="firstName2">Moneda<span class="camporequerido">*</span></label>
                                    <input type="text"
                                        Class="form-control"
                                        placeholder="CLP" [disabled]="true" #moneda="ngModel" required
                                        name="moneda" [(ngModel)]="pasarela.monedaPasarela" [value]="CLP" />  
                                </div>

                                <div *ngIf="pasarela.estado == 1" class="col-md-4 form-group mb-3">
                                    <label for="documento">Documento contable</label>
                                    <select [(ngModel)]="pasarela.tipoDocumento"
                                            class="form-control"
                                            name="documento" #documento="ngModel" required>
                                        <option *ngFor="let documento of tipoDocumentos" [ngValue]="documento.codDoc">
                                            {{documento.desDoc}}
                                        </option>
                                    </select>
                                </div>

                                <div *ngIf="pasarela.estado == 1" class="col-md-4 form-group mb-3">
                                    <label for="cuenta">Cuenta contable</label>
                                    <select [(ngModel)]="pasarela.cuentaContable"
                                    class="form-control"
                                            name="cuenta" #cuenta="ngModel" required>
                                        <option *ngFor="let cuenta of cuentasContables" [ngValue]="cuenta.codigo">
                                            {{cuenta.nombre}}
                                        </option>
                                    </select>
                                </div>
                                               
                                <div class="col-md-12 mt-3 text-center">
                                    <button class="btn btn-primary"
                                      [disabled]="!myFormConfig.form.valid"
                                      [style.cursor]="!myFormConfig.form.valid ? 'no-drop' : 'pointer'"
                                      (click)="save(pasarela)">Guardar</button>
                                </div>
                
                            </div>
                        </form>                         
                        </div>
                      </div>
                    </div>
                  </div>               
            </ng-template>
            
        </ngb-tab>


        
    </ngb-tabset>

    
</div>