.dropdown-toggle::after{
    content: none;
  }
  
  li > img{
    margin-left: 50%;
    margin-right: 50%;
  }
  
  .dropdown-menu.show {
    display: block;
    position: absolute;
    top: 0px;
    left: auto !important;
    right: 5px !important;
    will-change: transform;
    transform: translate(0px, 34px);
  }
