<div class="breadcrumb">
    <h1>Usuarios</h1>
    <ul>
        <li><a href="">Seguridad</a></li>
        <li>Usuarios</li>
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row mb-4">
  <div class="col-md-4" style="margin-bottom: 10px;">
    <button type="button" class="btn btn-success" style="background-color: #263db5;" (click)="openModal(modalBasic, null)">
      <i class="i-Add mt-3 mr-1"></i> Nuevo Usuario</button>
  </div>
  <div class="col-md-8" style="margin-bottom: 10px;">
    <input type="text" name="searcher" [(ngModel)]="paginador.search" class="form-control form-control" 
      (keydown.enter)="getUsuarios()"
      placeholder="Buscar usuario...">
  </div>
</div>

<div class="row mb-4" *ngIf="totalItems > 0 && loaded">
  <!-- GRID AND LIST BUTTONS -->
  <!-- <div class="col-6">
    <button class="btn btn-sm btn-rounded btn-outline-light btn-svg mr-2" [ngClass]="{active: viewMode === 'grid'}" (click)="viewMode = 'grid'">
      <svg version="1.1" width="16px" id="grid" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" viewBox="0 0 369.946 369.946" style="enable-background:new 0 0 369.946 369.946;" xml:space="preserve">
        <path d="M250.609,0h-11.934H131.271h-11.934H0v119.337v11.934v107.404v11.934v119.337h119.337h11.934
            h107.404h11.934h119.337V250.609v-11.934V131.271v-11.934V0H250.609z M238.675,11.934v107.404H131.271V11.934H238.675z
             M238.675,131.271v107.404H131.271V131.271H238.675z M11.934,11.934h107.404v107.404H11.934V11.934z M11.934,131.271h107.404
            v107.404H11.934V131.271z M11.934,358.012V250.609h107.404v107.404H11.934z M131.271,358.012V250.609h107.404v107.404H131.271z
             M358.012,358.012H250.609V250.609h107.404V358.012z M358.012,238.675H250.609V131.271h107.404V238.675z M250.609,119.337V11.934
            h107.404v107.404H250.609z" />
      </svg>
    </button>
    <button class="btn btn-sm btn-rounded btn-outline-light btn-svg" [ngClass]="{active: viewMode === 'list'}" (click)="viewMode = 'list'">
      <svg version="1.1" id="list" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
        y="0px" width="16px" height="16px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve">
        <path d="M0,97.92v24.48h612V97.92H0z M0,318.24h612v-24.48H0V318.24z M0,514.08h612V489.6H0V514.08z" />
      </svg>
    </button>
  </div> -->
  <!-- SELECT CEHECKBOX -->
  <!-- <div class="col-6">
    <div class="btn-group float-right">
      <button type="button" class="btn btn-outline-light btn-rounded btn-checkbox">
        <label class="checkbox checkbox-outline-light">
          <input type="checkbox" [(ngModel)]="allSelected" (change)="selectAll($event)">
          <span></span>
          <span class="checkmark"></span>
        </label>
      </button>
      <div class="btn-group" ngbDropdown role="group" aria-label="Select all" placement="left">
        <button class="btn btn-outline-light btn-rounded" ngbDropdownToggle></button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button class="dropdown-item">Delete</button>
          <button class="dropdown-item">Move to</button>
        </div>
      </div>
    </div>
  </div> -->
</div>

<!-- DATA LIST -->
<div *ngIf="totalItems > 0 && loaded" class="row" [ngClass]="{'list-horizontal': viewMode === 'list', 'list-grid': viewMode === 'grid'}">
  <!-- SINGLE LIST ITEM -->
  <div *ngFor="let item of usuarios | paginate: config; let i = index" 
    class="list-item"
    [ngClass]="{'col-md-12': viewMode === 'list', 'col-md-3': viewMode === 'grid'}"
    [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}"
  >
    <div class="card o-hidden mb-2 d-flex" [ngClass]="{'flex-row': viewMode === 'list', 'flex-column': viewMode === 'grid'}">
      <div class="list-thumb d-flex ml-2 mr-2">
        <!-- TUMBNAIL -->
        <img *ngIf="item.sexo == 'M'" src="https://img.icons8.com/bubbles/2x/user.png" width="70" height="50" alt="">
        <img *ngIf="item.sexo == 'F'" src="https://img.icons8.com/bubbles/2x/user-female.png" width="70" height="50" alt="">
      </div>
      <div class="flex-grow-1" [ngClass]="{'pl-2 d-flex': viewMode === 'list', 'd-bock': viewMode === 'grid'}">
        <div class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center"
          [ngClass]="{'flex-lg-row': viewMode === 'list'}">
          <!-- OTHER DATA -->
          <a class="w-15 w-sm-60" style="flex-basis:150px">
            <div class="item-title"><strong>{{item.nombres}} {{item.apellidos}}</strong></div>
          </a>
          <p class="m-0 text-muted w-15 w-sm-100" style="flex-basis:200px">
            <strong>Perfil: </strong> {{item.perfil?.nombre}}
          </p>
          <p class="m-0 text-muted w-15 w-sm-100" style="flex-basis:250px">
            <strong>Email: </strong> {{item.email}}
          </p>

          <p class="m-0 text-muted w-15 w-sm-100 d-none d-lg-block item-badges" style="flex-basis:100px">
            <span *ngIf="item.cuentaActivada == null || item.cuentaActivada == 0" class="badge badge-warning">En activación</span>
            <span *ngIf="item.cuentaActivada == 1 && item.activo == 1" class="badge badge-success">Activo</span>
            <span *ngIf="item.cuentaActivada == 1 && item.activo == 0" class="badge badge-danger">Inactivo</span>
          </p>
          
          <!-- <p class="m-0 text-muted w-15 w-sm-100">    -->

            <div ngbDropdown container="body">
              <button ngbDropdownToggle aria-haspopup="true" aria-expanded="false" type="button"
                class="btn dropdown-toggle btn-link text-decoration-none dropdown-toggle-no-caret"
                id="__BVID__735__BV_toggle_"><svg xmlns="http://www.w3.org/2000/svg"
                  width="16px" height="16px" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"
                  class="text-body align-middle mr-25 feather feather-more-vertical">
                  <circle cx="12" cy="12" r="1"></circle>
                  <circle cx="12" cy="5" r="1"></circle>
                  <circle cx="12" cy="19" r="1"></circle>
                </svg></button>
              <div ngbDropdownMenu>
                <button (click)="openModal(modalBasic, item)" style="cursor: pointer;" ngbDropdownItem><i
                    class="i-Edit"
                    style="font-size: 1.4em;"></i>&nbsp;&nbsp;&nbsp;Editar</button>
                <button (click)="changePasswordRequest(item, modalChangePass)" style="cursor: pointer;"
                  ngbDropdownItem><i class="i-Password-shopping"
                    style="font-size: 1.4em;"></i>&nbsp;&nbsp;&nbsp;Cambiar Contraseña</button>
                <div class="dropdown-divider"></div>
                <button (click)="delete(item)" style="cursor: pointer;"
                  ngbDropdownItem><i class="i-Remove"
                    style="font-size: 1.4em;"></i>&nbsp;&nbsp;&nbsp;Eliminar</button>

              </div>
            </div>

            <!-- <img  src="https://img.icons8.com/cute-clipart/2x/edit.png" width="20" height="20" alt="">&nbsp; -->
            <!-- <img (click)="changePasswordRequest(item, modalChangePass)" container="body" ngbTooltip="Cambiar contraseña" style="cursor: pointer;" src="https://img.icons8.com/cute-clipart/2x/forgot-password.png" width="20" height="20" alt="">&nbsp;
            <img (click)="delete(item)" container="body" ngbTooltip="Eliminar" style="cursor: pointer;" src="https://img.icons8.com/cute-clipart/2x/delete-forever.png" width="20" height="20" alt=""> -->
          <!-- </p> -->
        </div>
      </div>
    </div>
  </div>
  <!-- PAGINATION CONTROL -->
  <div class="col-md-12 mt-3" *ngIf="usuarios?.length && totalItems > 0">
    <pagination-controls (pageChange)="changePage($event)" maxSize="6" responsive="true"
      previousLabel="" nextLabel="">
    </pagination-controls>
    <!-- <pagination-controls (pageChange)="page = $event" previousLabel="" nextLabel=""></pagination-controls> -->
  </div>
</div>

<div class="row" *ngIf="totalItems == 0 && loaded">
  <div class="col-md-12" >
    <ngb-alert class="alert-card text-center" [dismissible]="false">
      {{noResultsText}}
    </ngb-alert>
  </div>
</div>

<ng-template #modalBasic let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{modalTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #myFormPerfil="ngForm">

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="picker1">Nombres <span class="camporequerido">*</span></label>
            <div class="input-group">
              <input type="text"
                [ngClass]="name.errors && (name.dirty || name.touched) ? 'form-control form-control is-invalid' : 'form-control form-control'"
                placeholder="Nombres" #name="ngModel" required maxlength="50"
                name="name" [(ngModel)]="usuario.nombres" >
            </div>
            <p *ngIf="name.errors && (name.dirty || name.touched)" class="text-danger" style="margin-top: 2px; font-size: 12px">
              <span *ngIf="name.errors.required">
                  Nombres es requerido.
              </span>
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="picker1">Apellidos <span class="camporequerido">*</span></label>
            <div class="input-group">
              <input type="text"
                [ngClass]="desc.errors && (desc.dirty || desc.touched) ? 'form-control form-control is-invalid' : 'form-control form-control'"
                placeholder="Apellidos"  #desc="ngModel" required maxlength="60"
                name="desc" [(ngModel)]="usuario.apellidos" >
            </div>
            <p *ngIf="desc.errors && (desc.dirty || desc.touched)" class="text-danger" style="margin-top: 2px; font-size: 12px">
              <span *ngIf="desc.errors.required">
                Apellidos es requerido.
              </span>
            </p>
          </div>
        </div>
      </div>      
      
      <div class="form-group">
        <label for="picker1">Perfil <span class="camporequerido">*</span></label>
        <div class="input-group">
          <select [(ngModel)]="selectedPerfil"
                  class="form-control form-control"
                  name="catPadre" #catPadre="ngModel" required>
              <option *ngFor="let p of perfiles"
                      [ngValue]="p">
                  {{ p.nombre }}
              </option>
          </select>
        </div>
        <p *ngIf="catPadre.errors && (catPadre.dirty || catPadre.touched)" class="text-danger" style="margin-top: 2px; font-size: 12px">
            <span *ngIf="catPadre.errors.required">
                Perfil es requerido.
            </span>
          </p>
      </div>
      <div class="form-group">
        <label for="picker1">Email <span class="camporequerido">*</span></label>
        <div class="input-group">
          <input type="email"
            [ngClass]="mail.errors && (mail.dirty || mail.touched) ? 'form-control form-control is-invalid' : 'form-control form-control'"
            placeholder="Email"  #mail="ngModel" required maxlength="50" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" (blur)="onBlurEmail()"
            name="mail" [(ngModel)]="usuario.email" >
        </div>
        <p *ngIf="mail.errors && (mail.dirty || mail.touched)" class="text-danger" style="margin-top: 2px; font-size: 12px">
          <span *ngIf="mail.errors.required">
            Email es requerido.
          </span>
        </p>
        <p *ngIf="mail.errors && (mail.dirty || mail.touched)" class="text-danger" style="margin-top: 2px; font-size: 12px">
            <span *ngIf="mail.errors.pattern">
              Email no es válido.
            </span>
          </p>
      </div>
      
      <div class="form-group mt-4">
        <div class="input-group">        
            <label class="switch switch-success mr-3">
                <span>Activo</span>
                <input 
                [(ngModel)]="usuario.activo" 
                type="checkbox"  
                id="exampleCheck2" 
                name="exampleCheck2"
                />
                <span class="slider"></span>
            </label>
            </div>        
        </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark btn" (click)="save(modalConfirmEdit)"
      [disabled]="!myFormPerfil.form.valid" 
      [style.cursor]="!myFormPerfil.form.valid ? 'no-drop' : 'pointer'"
    >Guardar</button>
  </div>
</ng-template>

<ng-template #modalChangePass let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Cambiar contraseña</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #myFormChangePass="ngForm">

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="picker1">Nueva contraseña <span class="camporequerido">*</span></label>
            <div class="input-group">
              <input type="password"
                [ngClass]="passs1.errors && (passs1.dirty || passs1.touched) ? 'form-control form-control is-invalid' : 'form-control form-control'"
                placeholder="Nueva contraseña" #passs1="ngModel" required maxlength="50" minlength="6"
                name="passs1" [(ngModel)]="password1" >
            </div>
            <p *ngIf="passs1.errors && (passs1.dirty || passs1.touched)" class="text-danger" style="margin-top: 2px; font-size: 12px">
              <span *ngIf="passs1.errors.required">
                Nueva contraseña es requerida.
              </span>
              <span *ngIf="passs1.errors.minlength">
                Nueva contraseña debe ser de al menos 6 caracteres.
              </span>
            </p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="picker1">Repita contraseña <span class="camporequerido">*</span></label>
            <div class="input-group">
              <input type="password"
                [ngClass]="passs2.errors && (passs2.dirty || passs2.touched) ? 'form-control form-control is-invalid' : 'form-control form-control'"
                placeholder="Repita contraseña" #passs2="ngModel" required maxlength="50" minlength="6"
                name="passs2" [(ngModel)]="password2" >
            </div>
            <p *ngIf="passs2.errors && (passs2.dirty || passs2.touched)" class="text-danger" style="margin-top: 2px; font-size: 12px">
              <span *ngIf="passs2.errors.required">
                Repita contraseña es requerida.
              </span>
              <span *ngIf="passs2.errors.minlength">
                Contraseña debe ser de al menos 6 caracteres.
              </span>
            </p>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark btn" (click)="changePassword()"
      [disabled]="!myFormChangePass.form.valid" 
      [style.cursor]="!myFormChangePass.form.valid ? 'no-drop' : 'pointer'"
    >Aceptar</button>
  </div>
</ng-template>